<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="../static/assets/apple-icon-180x180.png">
  <link href="../static/assets/rocket.ico" rel="icon">
  <link href="../static/assets/style.css" rel="stylesheet">

  <title>Tyler Jankowski</title>

<link href="../static/main.3f6952e4.css" rel="stylesheet"></head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="/" title="">01 : Home</a></li>
          <li><a href="./projects" title="">02 : Projects</a></li>
          <li><a href="./about" title="">03 : About me</a></li>
          <li><a href="./contact" title="">04 : Contact</a></li>
        </ul>


      </div> 
    </div>
  </nav>
</header>

<div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-container-spacer text-center">
            <h1 class="h2">03 : About me</h1>
          </div>
          
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <h3>Download my resume: <a href="/return-files/TylerJankowskiResume.pdf" target="blank">TJResume.pdf</a></h3>
                  <h3>Professional Skills</h3>
                  <p>
                    My professional experience started out as Full Stack Developer. I really enjoyed the idea of building projects from start to finish. I even tried doing a few of these with other friends that were developers as well. 
                    I am an avid learner and am constantly taking new courses to learn a new programming language or a new skill in the tech. field.
                  </p>
                  <p>
                    I did a coding bootcamp to really accelerate my skills which is where I learned test automation. I think it was my background as a developer that gave me an edge as a tester.
                    Quickly I was helping other students learn automation and create fun scripts like auto paying bills using automation scripting. This is what lead me to seeking a job as an Automation Engineer.
                  </p>
                  <p>
                    Now, I have been an Automation Software Engineer for several years and it is my current role. I still keep myself up to date with languages and emerging technologies. 
                    I also, continue developing my own projects like my Web Demo project and this full stack portfolio project.
                  </p>
                  <h3>Interests/Hobbies</h3>
                  <p>
                    I have already mentioned that coding, building, and learning are things I do in my free time, so most of my hobbies are out doors to get me away from computers and technology.
                  </p>
                  <p>
                    I love going to the beach and surfing. Like most, I love to travel as well. If the weather is nice and some nice views, I really enjoy hiking as well. 
                    I really enjoy going to the gym and I'd rather prefer to lift weights than do cardio. Yoga is something I like to do to really disconnect and take care of my mind and body. 
                  </p>
                </div>
                <div class="col-xs-12 col-md-6 black-image-project-hover">
                  <img src="../static/assets/images/mural.jpg" class="img-responsive" alt="">
                </div>
              </div>
            </div>
          </div>
          
          
      </div>
      </div>
    </div>
  </div>


<footer class="footer-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>Tyler Jankowski | Check out my  <a href="https://www.linkedin.com/in/tylerjjankowski">LinkedIn</a></p>
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
    navActivePage();
  });
</script>

<script type="text/javascript" src="../static/main.70a66962.js"></script></body>

</html>