<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="../static/assets/apple-icon-180x180.png">
  <link href="../static/assets/rocket.ico" rel="icon">
  <link href="../static/assets/style.css" rel="stylesheet">

  <title>Tyler Jankowski</title>

<link href="../static/main.3f6952e4.css" rel="stylesheet"></head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="/" title="">01 : Home</a></li>
          <li><a href="./projects" title="">02 : Projects</a></li>
          <li><a href="./about" title="">03 : About me</a></li>
          <li><a href="./contact" title="">04 : Contact</a></li>
        </ul>


          <ul class="nav navbar-nav navbar-right navbar-small visible-md visible-lg">
            <li><a href="./project1" title="" >001</a></li>
            <li><a href="./project2" title="" class="active">002</a></li>
            <li><a href="./project3" title="">003</a></li>
            <li><a href="./project4" title="">004</a></li>
            <li><a href="./project5" title="">005</a></li>
            <!-- <li><a href="./project6" title="">006</a></li> -->
          </ul>


      </div> 
    </div>
  </nav>
</header>
<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <img src="../static/assets/images/work001-01.jpg" class="img-responsive" alt="">
        <div class="card-container">
          <div class="text-center">
            <h1 class="h2">002 : Wells Fargo</h1>
          </div>
          <p>Wells Fargo is a huge banking corporation known worldwide. They offer standard banking services, mortgage lending, credit cards, business loans, and investments.</p>

          <blockquote>
            <p>My role at Wells Fargo is <i>Software Automation Engineer.</i></p>
          </blockquote>
        </div>
      </div>

      
      
      <div class="col-md-8 col-md-offset-2 section-container-spacer">
        <div class="row">
          <div class="col-xs-12 col-md-6 black-image-project-hover">
            <img src="../static/assets/images/javalogo.png" class="img-responsive" alt="" style="width:400;height:400;">
          </div>
          <div class="col-xs-12 col-md-6 black-image-project-hover">
            <img src="../static/assets/images/selenium.jpg" class="img-responsive" alt="" style="width:200;height:200;">
          </div>
        </div>
      </div>

      <div class="col-xs-12">
        <h3>Role:</h3>
        <p>
          Initially I was a <b>Software Automation Engineer</b> to create automation test script to test a variety of company applications. 
          On my first project I was quickly moved to the <b>Lead Automation Engineer</b> and was the direct point of contact for my team and Wells Fargo Managers.
        </p>
        <p>
          I worked on several projects during my time with Wells Fargo and learned how to start and automation project from nothing or to be able to quickly join in on how a current team was handling things.
        </p>
        <h3>Languages & Tools:</h3>
        <p>
          My team and I used Java with Selenium as our scripting language to automate test cases. We deployed those test scripts using a Jenkins server to execute tests at certain dates and times.
        </p>
        <p>
          We also used tools like ALM (Application Lifecycle Management) by Microsoft to trace our tests as well as the pass/fail results when executed. 
          ALM integration allowed managers of all levels to quickly view our results and progress. 
        </p>

        <h4>Complete list of Duties:</h4>
        <ul>
          <li>Create Automation Testing Project and Scripts</li>
          <li>Convert 800 Regression, 120 Unit, and 50 Smoke manual tests into Automation Scripts</li>
          <li>Execute Automation Scripts and report results to managers and developers</li>
          <li>Configure and manage Jenkins server to execute scripts</li>
        </ul>
      </div>

    </div>
  </div>
</div>


<footer class="footer-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>Tyler Jankowski | Check out my  <a href="https://www.linkedin.com/in/tylerjjankowski">LinkedIn</a></p>
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
    navActivePage();
  });
</script>
<script type="text/javascript" src="../static/main.70a66962.js"></script></body>

</html>