<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="../static/assets/apple-icon-180x180.png">
  <link href="../static/assets/rocket.ico" rel="icon">
  <link href="../static/assets/style.css" rel="stylesheet">

  <title>Tyler Jankowski</title>

<link href="../static/main.3f6952e4.css" rel="stylesheet"></head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="/" title="">01 : Home</a></li>
          <li><a href="./projects" title="">02 : Projects</a></li>
          <li><a href="./about" title="">03 : About me</a></li>
          <li><a href="./contact" title="">04 : Contact</a></li>
        </ul>


          <ul class="nav navbar-nav navbar-right navbar-small visible-md visible-lg">
            <li><a href="./project1" title="" >001</a></li>
            <li><a href="./project2" title="">002</a></li>
            <li><a href="./project3" title="" class="active">003</a></li>
            <li><a href="./project4" title="">004</a></li>
            <li><a href="./project5" title="">005</a></li>
            <!-- <li><a href="./project6" title="">006</a></li> -->
          </ul>


      </div> 
    </div>
  </nav>
</header>
<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <img src="../static/assets/images/work001-01.jpg" class="img-responsive" alt="">
        <div class="card-container">
          <div class="text-center">
            <h1 class="h2">003 : Freddie Mac</h1>
          </div>
          <p>Freddie Mac is one of largest purchasers in the Secondary Mortgage Market. They use capital to expand the secondary market for mortgages in the US.</p>

          <blockquote>
            <p>My role at Freddie Mac is <i>Automation Software Engineer.</i></p>
          </blockquote>
        </div>
      </div>

      
      
      <div class="col-md-8 col-md-offset-2 section-container-spacer">
        <div class="row">
          <div class="col-xs-12 col-md-6 black-image-project-hover">
            <img src="../static/assets/images/javalogo.png" class="img-responsive" alt="" style="width:300;height:500;">
          </div>
          <div class="col-xs-12 col-md-6 black-image-project-hover">
            <img src="../static/assets/images/sql.png" class="img-responsive" alt="" style="width:200;height:200;">
          </div>
        </div>
      </div>

      <div class="col-xs-12">
        <h3>Role:</h3>
        <p>My role was to create automation script for specific jobs within the teams and company.</p>
        <p>
          I was to create scripts to run routine tasks like ensuring data accuracy. If there was a discrepancy between data, the scripts would notice it and execute additional scripts to update the data correctly.
          I would keep track of record count, accuracy, and completeness.
        </p>
        <h3>Languages:</h3>
        <p>I used Java as my scripting language, PowerShell to help execute commands on remote services, and I used SQL for ensuring Data accuracy.</p>

        <h4>Complete list of Duties:</h4>
        <ul>
          <li>Create Automation Testing Scripts for specific jobs</li>
          <li>Ensure Data accuracy</li>
          <li>Demo new scripts that could be widely used</li>
          <li>Find and Resolve any discrepancy in company data</li>
        </ul>
      </div>

    </div>
  </div>
</div>


<footer class="footer-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>Tyler Jankowski | Check out my  <a href="https://www.linkedin.com/in/tylerjjankowski">LinkedIn</a></p>
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
    navActivePage();
  });
</script>
<script type="text/javascript" src="../static/main.70a66962.js"></script></body>

</html>